.save-url-block {
	display: none;
}

.login-form, .save-url-block {
    width: 300px;
    height: 200px;
    padding: 20px;
}

.save-url-block > p {
    font-size: 12px;
    font-weight: 600;
}

button {
    width: 100px;
    padding: 10px 0;
    border-radius: 5px;
    border: 0;
    background: #6aacff;
    margin-right: 10px;
    color: #fff;
    font-size: 12px;
}

#status, #statusSuccess, #selectionStatus {
    margin-top: 15px;
    color: #9C27B0;
}

#statusSuccess {
	margin-bottom: 15px;
}

.form-field {
    margin-bottom: 15px;
}

label {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

input {
    width: calc(100% - 20px);
    outline: none;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 5px 10px;
}

p#loginError {
    color: #ca1111;
    margin-top: 0;
}

#loading {
	position: fixed;
	display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#loading img{
	width: 100%;
}

#logout {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    z-index: 1;
}

.save-url-block {
    padding-top: 46px;
    height: auto;
}

.check-selection-block {
    padding: 20px;
}

#selectionStatus {
    padding-top: 10px;
}

#checkSelectionBlock {
   display: none; 
}

#logoutConfirmation {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 2;
    padding: 20px;
}